extends layout

block content

  #mainContent.container
    p This is a simple application demonstrating how to use Nodejs, Express and Mongodb. 
    h3 Technologies:
    ul
      li Nodejs
      li Express
      li Mongodb
      li Jade (pug) template engine
      li Bootstrap
      li Fontawesome
    
    h3 Tools in use:
    ul
      li Rogomongo
      li Visual Studio Code
      li nodemon
      li Postman
      
      

